<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
     <service name="RestFullService.Sunucu">
         <endpoint address="" binding="webHttpBinding" contract="RestFullService.ISunucu" behaviorConfiguration="webBehavior">         
        </endpoint>
     </service>
     </services>
     <behaviors>
       <endpointBehaviors>
         <behavior name="webBehavior">
           <webHttp/>
         </behavior>
       </endpointBehaviors>  
     </behaviors>
     <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
       
     
</system.serviceModel>

</configuration>
